.letter {
    font-size: 6vw;
    /* color: rgb(255, 89, 48); */
    /* color: rgb(255, 208, 0); */
    color: rgb(230, 230, 230);
    opacity: 0;
    padding: 0;
    transition: color 0.5s ease-in-out, opacity 0.8s ease-in-out;
}

.stringContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5vw;
    padding: 0;
}

@media screen and (min-width: 769px) {
    .letter {
        font-size: 6vw;
    }
}

@media screen and (max-width: 768px) {
    .letter {
        font-size: 10vw;
    }
}

.mouseEnter {
    /* color: rgb(255, 89, 48); */
    color: rgb(0, 238, 255);
    animation: wiggle 1s;
}

@keyframes wiggle {
    40% {
        transform: scale(1.3, 0.7);
    }
    50% {
        transform: scale(0.9, 1.2);
    }
    60% {
        transform: scale(1.3, 0.9);
    }
    80% {
        transform: scale(0.95, 1.05);
    }
    100% {
        transform: scale(1, 1);
    }
}

.reveal {
    opacity: 1;
}