@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 100 !important;
  background-image: url('/background_image.png') !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-color: rgb(33, 33, 33) !important ;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
